
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* Variables to change colors easily */
:root {
  --imageText: whitesmoke;
  --bodyText: black;
  --backgroundForm: white;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  color: black;
  background-color: var(--imageText);
  /*background: linear-gradient(#5757ea, rgb(255, 243, 247)); 
  background-attachment: fixed; /*para que ocupe toda la pagina*/
}

#container {
  width: 100%;
  display: flex;
}

#image-container {
  height: 100vh;
  width: 45%;
  background-image: url(./images/roan-lavery-lvy_VvdLmnA-unsplash-webx.jpg); 
  background-size: cover;
  background-repeat: none;
  color: var(--imageText);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; 
} 

#logo {
  width: 100%;
  font-size: 6rem;
  margin: 6rem;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

#form-container {
  /*width: 60%; 
  padding: 2rem 4rem 2rem 2rem;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
 background-color:  var(--imageText);
}

#sign-up-form {
  background-color: var(--backgroundForm);
  box-shadow: 0 3px 5px lightgrey;
}

#form-container #text, #form-container legend {
  font-weight: 700;
  font-size: 1.1rem;
}

#form-container #text, #form-container #sign-up-form,.padded{
  padding: 2rem 4rem 2rem 3rem;
}

.padded-left {
  padding-left: 3rem;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

input {
  width: 300px;
  padding: 5px 10px;
  border: solid 1px #E5E7EB;
  border-radius: 5px;
}

.error {
  border: solid 2px rgb(140, 21, 21);
}

input:focus {
  appearance: none;
  border: solid 3px rgb(108, 108, 253);
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

button {
  padding: 10px;
  color: white;
  background-color: rgb(10, 93, 10);
  border-radius: 12px;
  border: none;
}
